.careerdeatils {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(14, 194, 38, 0.1);
}

.careerdeatils h2 {
    margin-top: 0;
    font-size: 24px;
    color: #f0ebeb;
}

.careerdeatils p {
    margin: 10px 0;
    font-size: 16px;
    color: #eee4e4;
}

.careerdeatils p:first-of-type {
    font-weight: bold;
    color: #007bff;
}

.careerdeatils p:last-of-type {
    font-size: 14px;
}

.details {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
    color: #e2dddd;
}